{% load staticfiles %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="mpQT2e2CzE40Mag3lvahke8vfeN3h02M3UjZJrvSiHE" />
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/vex/vex.css' %}" />
<link rel="stylesheet" href="{% static 'css/vex/vex-theme-plain.css' %}"/>
<script src="{% static 'js/modernizr.js' %}"></script>
