<div class="content-press">
      <div class="row">
        <div class="small-11 small-centered columns">
          <h2 class="title text-center">Seus sapatos refletem sua aparência</h2>
          <h4 class="title-sub text-center">cuidamos dos seus calçados para garantir o seu sucesso</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-centered columns">
          <br /><br />
            <div class="row hide-for-small">
              <form>
                  <div id="wrapper_csrf">
                      {% csrf_token %}
                  </div>
                  <div class="small-8 columns">
                    <input id="followed_by" name="followed_by" class="large" type="text" placeholder="voce@exemplo.com" value="" />
                  </div>
                  <div class="small-4 columns">
                    <button class="btn-categories button large radius expand">
                        Quero conhecer
                    </button>
                  </div>
             </form>
            </div>
        </div>
      </div>
</div>
