{% extends "mail/base.html" %}
{% block title_mail %}
    Recuperação de senha solicitada.
{% endblock title_mail %}

{% block main %}
<p>
Olá {{ first_name }} {{ last_name }},
<br /><br />
Recebemos a solicitação de recuperação de senha para sua conta no OEngraxate.com. Para
concluir o procedimento clique no link abaixo ou copie-o para o seu navegador e siga
os passos solicitados.
<br /><br />
<a href="{{ url_action }}">Recuperar Senha &gt;&gt;</a>.
<br /><br />
Caso não tenha sido você o solicitante não se preocupe, pois a sua senha se manterá
a mesma e seus dados continuam em segurança.
<br /><br />
Atenciosamente,<br />
Equipe OEngraxate.com

</p>
{% endblock %}