{% extends 'services/base.html' %}


{% block content %}
            <!-- content: Pages [begin] -->
    <div id="article" class="content-pages">
      <div class="row">
        <div class="small-9 small-centered columns">
          <h3>Inválido, expirado ou recuperação já realizada<br />
              <!-- test string: recovery password success -->
          </h3>
          <div class="row">
            <div class="small-12 columns">
                <br />
                <p>O link para reativar sua senha está inválido, expirado ou sua
                    recuperação já foi realizada com sucesso. Tente novamente se
                    desejar redefinir sua senha agora.
                </p>
                <p><a href="{% url 'password_reset' %}" class="button radius secondary right">Tentar novamente</a></p>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <br />
            <!-- Assuntos relacionados -->
        </div>
      </div>
    </div>
    <!-- content: Pages [end] -->
{% endblock %}