{% extends 'services/base.html' %}

{% block content %}
            <!-- content: Pages [begin] -->
    <div id="article" class="content-pages dashboard">
      <div class="row">
        <div class="small-9 small-centered columns">
            <br />
            <div class="small-12 large-12 columns">
                <h3>Esqueceu a senha?</h3>
                <p>Para iniciar a recuperação da sua senha, preencha o endereço
                    de email ou usuário cadastrado e aguarde as instruções que
                    serão enviadas por email.
                </p>
                <div class="panel box_shadow clearfix radius">
                <form action="/password_reset/" method="post" id="login">
                    {% csrf_token %}
                    <div class="row">
                        <div class="large-12 columns">
                            {{ form.errors }}
                            <label>Username ou E-mail
                                <input type="text" placeholder="username ou e-mail" name="username_or_email" />
                            </label>
                            <button class="button radius secondary right">Recuperar Senha</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
          </div>
        </div>

        <div class="small-3 columns">
          <br />
            <!-- Assuntos relacionados -->
        </div>
      </div>
    </div>
    <!-- content: Pages [end] -->
{% endblock %}