{% extends 'services/base.html' %}

{% block content %}
            <!-- content: Pages [begin] -->
    <div id="article" class="content-pages dashboard">
      <div class="row">
        <div class="small-9 small-centered columns">
            <br />
            <div class="small-12 large-12 columns">
               <h3>Crie uma nova senha agora</h3>
               <p>Defina uma nova senha e confirme em seguida. Você será redirecionado
               para o seu dashboard.</p>
               <br />
               <div class="panel box_shadow clearfix radius">
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="small-6 large-6 small-centered large-centered columns">
                            {{ form.errors }}
                            <label>Nova Senha
                                <input type="password" name="new_password1" id="new_password1" placeholder="Nova Senha" required="" data-invalid="">
                            </label>
                            <label>Confirmar Senha
                                <input type="password" name="new_password2" id="new_password2" placeholder="Confirmar Nova Senha" required="" data-invalid="">
                            </label>
                            <button class="button radius positive right">Redefinir Senha</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
          </div>
        </div>

        <div class="small-3 columns">
            <!-- Assuntos relacionados -->
        </div>
      </div>
    </div>
    <!-- content: Pages [end] -->
{% endblock %}