{% extends 'services/base.html' %}


{% block content %}
            <!-- content: Pages [begin] -->
    <div id="article" class="content-pages">
      <div class="row">
        <div class="small-9 small-centered columns">
          <h3>Recuperação de senha realizada com sucesso!<br />
              <!-- test string: recovery password success -->
          </h3>
          <div class="row">
            <div class="small-12 columns">
                <br />
                <p>Uma mensagem foi enviada para seu e-mail por noreply@oengraxate.com. Esse e-mail
                contém um link para confirmar o procedimento de recuperação de senha.
                    <br /><small>Nós preocupamos com a segurança dos nossos clientes,
                    por isso, essa etapa de confirmação é necessária para evitar falsos cadastros.</small>
                </p>
                <p><a href="{% url 'password_reset' %}" class="button radius secondary right">Tentar novamente</a></p>
            </div>
          </div>
        </div>
        <div class="small-3 columns">
          <br />
            <!-- Assuntos relacionados -->
        </div>
      </div>
    </div>
    <!-- content: Pages [end] -->
{% endblock %}